body{
    background: #26fff1;
    text-align: center;
    margin: 0;
    padding: 0;

}

nav{
    padding: 2%;
    background: #26fff1;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    margin: 2px;
    border: 1px;
    color: black;
    font-style: normal;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;

}

a:hover{
    background: #EA0BFC;
}

a:visited {
    color: #FFB159 ;
}



h1{
    color: #F5F5F5;
    font-style: normal;
    font-weight: lighter;
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    background: #FFB159 ;
    border: 1px solid transparent;
    padding: 3%;


}

h2{
    color: #F5F5F5;
    font-style: normal;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 2%;
    background: #EA0BFC;
}
p{
    color: rgb(32, 32, 32);
    font-family: 'Work Sans', sans-serif;
}
